
body{
margin: 0;
font-family:Georgia, 'Times New Roman', Times, serif
}

.pag-login{
width: 100vw;
height: 100vh;
background:#201b2c;
display: flex;
justify-content: center;
align-items: center;
}
.saudação{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.saudação > h1{
color: #4DC4FF;
}

.logo {
width: 25vw;
border-radius: 20px;

}

.login {
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;    
}
.card {
width: 60%;
display: flex;
justify-content: center;
align-items: center;   
flex-direction: column;
padding: 30px 35px;
background: #2f2841;
border-radius: 20px;
box-shadow: 0px 10px 40px #00000056;
}
.card > h1{
color: rgb(19, 140, 232);
font-weight: 800;
margin: 0px;
}

.botão {
width: 100%;
display: flex;
flex-direction: column;
align-items:flex-start;
justify-content: center;
margin: 10px 0px;
}

.botão > input{
width: 100%;
border: none;
border-radius: 10px;
padding: 15px;
background: #514869;
color: #f0ffffde;
font-size: 12pt;
box-shadow: 0px 10px 40px #00000056;
outline: none;
box-sizing: border-box;
}

.botão >label{
color: #f0ffffde;
margin-bottom: 10px;
}

.botão > label ::placeholder{
color: antiquewhite;
}

.btn-login {
width: 100%;
padding: 16px 0px;
margin: 25px;
border: none;
border-radius: 10px;
outline: none;
text-transform:uppercase;
font-weight: 800;
letter-spacing: 3px;
color: #4DC4FF;
background: #514869;
cursor: pointer;
}

.card > h6 {
color: #4DC4FF;
font-weight: 800;
cursor: pointer;
}

@media only screen and (max-width: 950px){
.pag-login {width: 85%;}
}

@media only screen and (max-width: 600px){
    .pag-login {
flex-direction: column; 
}
 }

